
<div class="page-header text-center" style="background-image: url('/client/assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
    </div>
</div>

<div th:if="${message}" class="alert alert-info">
    <span th:text="${message}"></span>
</div>

<div class="page-content">
    <div class="cart">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <table class="table table-cart table-mobile">
                        <thead>
                        <tr>
                            <th style="width: 250px;">Sản phẩm</th>
                            <th style="width: 50px;">Giá</th>
                            <th >Số lượng</th>
                           <th colspan="2">Tác vụ</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr th:each="item: ${cart}">

                            <td class="product-col">
                                <div class="product">
                                    <figure class="product-media">
                                        <a th:href="@{/home/product/{id}(id=${item.id})}">
                                            <img th:src="@{'/client/assets/images/products/' + ${item.image}}">
                                        </a>
                                    </figure>

                                    <h3 class="product-title" >
                                        <a href="#" th:text="${item.name}">Tên sản phẩm</a>
                                    </h3><!-- End .product-title -->
                                </div><!-- End .product -->
                            </td>

                            <td class="price-col" th:text="${item.price}">Giá</td> đ

                            <td class="quantity-col">
                                <form th:action="@{/home/update-cart}" method="post" class="quantity-form">
                                    <input type="hidden" th:name="productId" th:value="${item.id}">

                                    <!-- Nút giảm -->
                                    <button type="submit" name="action" value="decrease" class="btn-action">-</button>

                                    <!-- Hiển thị số lượng -->
                                    <input style="width: 60px; text-align: center;" th:name="quantity" th:value="${item.quantity}" min="1" >
                                    <!-- Nút tăng -->
                                    <button type="submit" name="action" value="increase" class="btn-action">+</button>
                                </form>
                            </td>

                            <td class="remove-col">
                                <a class="btn-remove" th:href="@{'/home/cart/remove/' + ${item.id}}">  <i class="fas fa-times"></i></a>
                            </td>

                            </form>

                        </tr>
                        </tbody>

                    </table>


                    <div class="cart-bottom">
                        <h4>Tổng tiền:
                            <span th:text="${totalPrice}"></span>đ
                        </h4>
                    </div>


                    <div class="cart-bottom">
                        <p class="text-center">chúc quý khách có một buổi mua sắm thật tuyệt vời!</p>
                    </div><!-- End .cart-bottom -->

                </div>


        <!---------------- Form thông tin thanh toán-->

                <aside class="col-lg-3">
                    <div class="summary summary-cart">
                        <h3 class="summary-title">Thông tin thanh toán</h3>

                        <!-- Form nhập thông tin khách hàng -->
                        <form th:action="@{/home/order}" method="post">
                            <!-- Họ và tên -->
                            <div class="form-group">
                                <label for="fullName">Họ và tên:</label>
                                <input type="text" id="fullName" th:value="${fullName}" name="name" class="form-control" placeholder="Nhập họ và tên" required>
                            </div>

                            <div class="form-group">
                                <label for="email">G-mail:</label>
                                <input type="text" id="email" th:value="${email}" name="email" class="form-control" placeholder="Nhập email" required>
                            </div>

                            <!-- Số điện thoại -->
                            <div class="form-group">
                                <label for="phoneNumber">Số điện thoại:</label>
                                <input type="tel" id="phoneNumber" name="phone" class="form-control" placeholder="Nhập số điện thoại" required>
                            </div>

                            <!-- Địa chỉ -->
                            <div class="form-group">
                                <label for="address">Địa chỉ:</label>
                                <input type="text" id="address" name="address" class="form-control" placeholder="Nhập địa chỉ" required>
                            </div>

                            <!-- Ghi chú -->
                            <div class="form-group">
                                <label for="note">Ghi chú:</label>
                                <textarea id="note" name="note" class="form-control" placeholder="Nhập ghi chú" rows="4"></textarea>
                            </div>

                            <input type="hidden" name="tongia" th:value="${totalPrice}">

                            <table class="table table-summary">
                                <tbody>
                                <tr class="summary-subtotal">
                                    <td>Tổng tiền:</td>
                                    <td th:text="${totalPrice}">$</td>
                                </tr><!-- End .summary-subtotal -->
                                </tbody>
                            </table>

                            <!-- Nếu người dùng đã đăng nhập -->
                            <div th:if="${session.loggedInUser != null}">
                                <!-- Nút thanh toán -->
                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">Thanh Toán</button>
                            </div>

                            <!-- Nếu người dùng chưa đăng nhập -->
                            <div th:if="${session.loggedInUser == null}">
                                <!-- Nút bạn chưa đăng nhập -->
                                <button type="button" class="btn btn-outline-danger btn-block" onclick="location.href='/home/login'">
                                    Bạn chưa đăng nhập
                                </button>
                            </div>
                        </form>
                    </div>


                    <a href="category.html" class="btn btn-outline-dark-2 btn-block mb-3"><span>TIẾP TỤC MUA SẮM</span><i class="fas fa-refresh"></i></a>
                </aside><!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .cart -->
</div>
