<div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('/client/assets/images/backgrounds/login-bg.jpg')">
  <div class="container">
    <div class="form-box">
      <div class="form-tab">
        <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="true">Đăng nhập</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="false">Đăng ký</a>
          </li>
        </ul>

        <div>
          <p th:if="${mess}" th:text="${mess}"></p>
        </div>

        <div class="tab-content">
          <!-- Form Đăng nhập -->
          <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
            <form action="/home/login" method="post">
              <div class="form-group">
                <label for="singin-email-2">Địa chỉ email *</label>
                <input type="text" class="form-control" id="singin-email-2" name="email" required>
              </div><!-- End .form-group -->

              <div class="form-group">
                <label for="singin-password-2">Mật khẩu *</label>
                <input type="password" class="form-control" id="singin-password-2" name="password" required>
              </div><!-- End .form-group -->

              <div class="form-footer">
                <button type="submit" class="btn btn-outline-primary-2" style="width: 250px;">
                  <span>Đăng Nhập</span>
                </button>

                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="signin-remember-2">
                  <label class="custom-control-label" for="signin-remember-2">Nhớ mật khẩu</label>
                </div>
              </div><!-- End .form-footer -->
            </form>
          </div><!-- End .tab-pane -->

      <!----------------- Form Đăng ký --------------->
          <div class="tab-pane fade" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
            <form action="/home/register" method="post">
              <div class="form-group">
                <label for="register-email-2">Tài khoản gmail *</label>
                <input type="email" class="form-control" id="register-email-2" name="email" required>
              </div><!-- End .form-group -->

              <div class="form-group">
                <label>Số điện thoại *</label>
                <input type="text" class="form-control"  name="phone" required>
              </div>

              <div class="form-group">
                <label for="register-username-2">Họ và tên *</label>
                <input type="text" class="form-control" id="register-username-2" name="username" required>
              </div><!-- End .form-group -->

              <div class="form-group">
                <label for="register-password-2">Mật khẩu *</label>
                <input type="password" class="form-control" id="register-password-2" name="password" required>
              </div>

              <div class="form-footer">
                <button type="submit" class="btn btn-outline-primary-2">
                  <span>Đăng Ký</span>
                </button>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                  <label class="custom-control-label" for="register-policy-2">Tôi đồng ý với <a href="#">chính sách bảo mật</a> *</label>
                </div><!-- End .custom-checkbox -->
              </div><!-- End .form-footer -->
            </form>
          </div><!-- End .tab-pane -->
        </div><!-- End .tab-content -->
      </div>
    </div>
  </div>
</div>
